@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('/fonts/AlegreyaSansSC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover-color: #d59586;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
